* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  flex: 1;
}

#container {
  margin: 0;
  padding: 0;
  border: none;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.squareDiv {
  display: flex;
  width: 16px;
  height: 16px;
  background-color: black;
  opacity: 0;
}

.workSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.inputBox {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.btn {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  height: 40px;
  background-color: rgb(226, 226, 226);
}

.clearBtn {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  height: 40px;
  background-color: rgb(226, 226, 226);
}

.checkBoxSection {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  font-size: 17px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.checkBoxSection input {
  width: 20px;
  height: 20px;
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 60px;
  color: white;
  background-color: rgb(49, 49, 49);
}